.container{
    max-width: 1520px;
    padding: 0 5px;
    margin: 0 auto;
}

.header{
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.intro{
    padding: 120px 0 100px;
}

.clients{
    margin-bottom: 100px;
}

.cases{
    padding: 75px 0;
    background-color: #F5F8FF;
}