.item{
    flex-basis: 31.8%;
    background-color: #fff;
    padding: 25px 50px;
    margin-bottom: 15px;
}

.image{
    display: inline-block;
    margin-bottom: 25px;
}

.title{
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    text-transform: uppercase;
    color: #262626;
    margin-bottom: 20px;
}

.bold{
    font-weight: 600;
}

.text{
    position: relative;
    padding-left: 36px;
    font-weight: 300;
    font-size: 23px;
    line-height: 33px;
    color: #262626;
    opacity: 0.7;
}

.text::before{
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: blue;
}